<template>
  <div class="field is-grouped">
    <p class="control is-expanded">
      <input v-model="name" class="input" type="text" placeholder="Add another name..">
    </p>
    <p class="control">
      <a @click="removeNameFromList()" class="button is-danger">
        <fa :icon="fas.faTimes"/>
      </a>
    </p>
  </div>
</template>

<script>
import { fas } from '@fortawesome/free-solid-svg-icons'

export default {
  name: 'ModuleConfigureName',
  props: {
    nKey: Number
  },
  data: () => ({}),
  computed: {
    name: {
      get() {
        const name = this.$store.state.names.list.find(
          name => name.id === this.nKey
        )
        return name.name
      },
      set(value) {
        const object = {
          id: this.nKey,
          name: value
        }
        this.$store.commit('names/updateName', object)
      }
    },
    fas() {
      return fas
    },
    namesCount() {
      return this.$store.state.names.list.length
    }
  },
  methods: {
    removeNameFromList() {
      if (this.namesCount > 1) {
        this.$store.commit('names/removeName', this.nKey - 1)
      }
    }
  }
}
</script>

<style>
</style>
