<template>
  <section class="hero is-fullheight" :style="{'backgroundColor': `#${randomBackground}`}">
    <div class="hero-head has-text-centered">
      <p>drinks_pwa</p>
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <module-configure-name v-for="name in names" :key="name.id" :nKey="name.id"/>
        <p v-show="invalid" class="help is-danger">{{invalidString}}</p>
        <div class="buttons">
          <button @click="addAName()" class="button">Add another name</button>
          <button @click="startGame()" class="button is-primary">Start</button>
        </div>
      </div>
    </div>
    <div class="hero-foot has-text-centered">
      <p>Created by Josh</p>
    </div>
  </section>
</template>

<script>
import { Random } from 'random-js'
import ModuleConfigureName from '~/components/ModuleConfigureName'
const random = new Random()

export default {
  components: {
    ModuleConfigureName
  },
  data: () => ({
    randomBackground: '',
    invalid: false,
    invalidString: ''
  }),
  computed: {
    names: {
      get() {
        return this.$store.state.names.list
      }
    },
    namesCount() {
      return this.$store.state.names.list.length
    }
  },
  created() {
    this.randomizebackground()
  },
  methods: {
    addAName() {
      if (this.names[this.namesCount - 1].name === '') {
        this.invalid = true
        this.invalidString = 'Please enter a name above'
        return
      }

      this.invalid = false

      const object = {
        id: this.namesCount + 1,
        name: ''
      }

      return this.$store.commit('names/populateRooms', object)
    },
    randomizebackground() {
      return (this.randomBackground = random.hex(6))
    },
    startGame() {
      if (this.namesCount <= 1 || this.names[this.namesCount - 1].name === '') {
        this.invalid = true
        this.invalidString = 'You need more than 1 person to play'
        return
      }

      this.invalid = false

      return this.$router.push({
        path: '/question'
      })
    }
  }
}
</script>

<style>
</style>
