<template>
  <section
    class="hero is-success is-fullheight"
    @click="generateRandom()"
    :style="{'backgroundColor': `#${randomBackground}`}"
  >
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">{{randomString}}</h1>
      </div>
    </div>
  </section>
</template>

<script>
import { Random } from 'random-js'
const random = new Random()

export default {
  data: () => ({
    randomString: '',
    randomBackground: ''
  }),
  created() {
    this.randomizebackground()
  },
  mounted() {
    this.generateRandom()
  },
  methods: {
    generateRandom() {
      this.randomizebackground()

      const getChallenges = this.$store.state.challenge.list[0].options
      const randomInt = random.integer(0, getChallenges.length - 1)
      const challenge = getChallenges[randomInt]
      let tempString = challenge.string
      const count = tempString.match(new RegExp('@NAME@', 'g')).length
      const getNames = this.$store.state.names.list

      for (let index = 0; index < count; index++) {
        const randomIntPerson = random.integer(0, getNames.length - 1)
        const randomPerson = getNames[randomIntPerson].name

        tempString = tempString.replace(/@NAME@/, randomPerson)
      }

      if (tempString.match(new RegExp('@NUMBER@', 'g'))) {
        const conditionMax = challenge.max
        const randomNumber = random.integer(1, conditionMax)

        tempString = tempString.replace(/@NUMBER@/, randomNumber)
      }

      this.randomString = tempString
    },
    randomizebackground() {
      return (this.randomBackground = random.hex(6))
    }
  }
}
</script>

<style>
</style>
